// Set your brand colors
$purple: #6600cc;
$dark-purple: #694ed8;
$custom-gray: #f3f3f3;
$custom-gray-light: #e4e4e4;

// Path to Bulma's sass folder
@use "../../node_modules/bulma/sass" with (
  $primary: $purple,
  $success: $dark-purple
);